@page "/areas"

@using System.Diagnostics
@using RentLibrary
@inject HttpClient Http
@inject IJSRuntime JsRuntime

@inject Blazored.LocalStorage.ILocalStorageService LocalStore


@if (objects == null)
{
    <p><em>Загрузка данных...</em></p>
}
else
{

    <label for="objects">
        Объект 
        <select @onchange="OnChangeObject">
                <option></option>
            @foreach (var obj in objects)
            {
                <option value="@obj.Id" selected="@(SavedObject == obj.Id.ToString())">@obj.Name</option>
            }
        </select>
    </label>
}
@if (layers != null)
{
    <label class="ml-3" for="layers">
        Размещение
        <select @onchange="OnChangeLayer">
            <option></option>
            @foreach (var obj in layers)
            {
                <option value="@obj.Id" selected="@(SavedLayer == obj.Id.ToString())">@obj.Name</option>
            }
        </select>
    </label>

    }

@*<p>(@x,@y)</p>*@

@if (area != null)
{
    <table class="table table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Наименование</th>
                <th>Площадь,  м<sup>2</sup></th>
                <th>Цена за м<sup>2</sup> с НДС, EUR</th>
                <th>Стоимость с НДС, EUR</th>
                <th>Арендуется</th>
                <th>Дополнительно</th>
            </tr>
        </thead>

        <tbody>

            <tr valign="top">
                <td>@area.Id</td>
                <td>@area.AreaName</td>
                <td>@area.Square</td>
                <td>@area.Price</td>
                <td>@area.Cost</td>
                @if (area.isRented)
                {
                    <td>Да</td>
                    <td><a href="/renterdetails/@renter.Id">@renter.RenterName</a></td>
                }
                else
                {
                    <td>Нет</td>
                    <td></td>
                }

            </tr>

        </tbody>
    </table>
}

@*preserveAspectRatio="none" preserveAspectRatio="xMinYMin scale"*@
<div style="border:3px solid green;width:100%;height:80vh;overflow:scroll;">
    <svg xmlns="http://www.w3.org/2000/svg" version="2.0" @ref="svgMain" @onclick="OnClick" @onmousemove="OnMoveSVG" height="@Height" width="@Width">
        @if (img_code.Length != 0)
        {
            <image x="0" y="0" href=@img_code width="@Width" height="@Height"></image>
        }
    </svg>
</div>

<style>

    svg {
        width: auto;
        height: auto;
        /*border: dashed;*/
        pointer-events: none;
    }

    image {
        cursor: pointer;
        pointer-events: all;
    }
</style>


@code {
    private IEnumerable<ObjectRect> objects;

    private LayerRect[] layers;

    private AreaRect[] areas;

    int Width = 0;
    int Height = 0;

    string img_code = "";

    public string id_layer;
    int x;
    int y;
    AreaRect area = null;
    RenterRect renter = null;

    ElementReference svgMain;

    string SavedObject;
    string SavedLayer;


    protected override async Task OnInitializedAsync()
    {
        SavedObject = await LocalStore.GetItemAsync<string>("Object");
        SavedLayer = await LocalStore.GetItemAsync<string>("Layer");

        objects = await Http.GetJsonAsync<ObjectRect[]>(ConnectAPI.apiUri + "/api/Objects");
                
        if (SavedObject != null)
        {

            layers = await Http.GetJsonAsync<LayerRect[]>(ConnectAPI.apiUri + "/api/Layers/" + SavedObject);
        }

        if (SavedLayer != null)
        {
            img_code = "data:image/png;base64," + Convert.ToBase64String(layers.First(l => l.Id.ToString() == SavedLayer).LayerFile);
            Height = layers.First(l => l.Id.ToString() == SavedLayer).Height;
            Width = layers.First(l => l.Id.ToString() == SavedLayer).Width;
            id_layer = SavedLayer;
        }

    }

    async Task OnChangeObject(ChangeEventArgs e)
    {

        // Debug.WriteLine(e.Value);


        if (e.Value.ToString().Length > 0)
        {

            layers = await Http.GetJsonAsync<LayerRect[]>(ConnectAPI.apiUri + "/api/Layers/" + e.Value.ToString());
            await LocalStore.SetItemAsync("Object", e.Value.ToString());
        }
        //else
        //{
        //    layers = null;
        //    await LocalStore.ClearAsync();
        //}
        // await JsRuntime.InvokeVoidAsync("ShowAlert", "You clicked a line");
    }


    async Task OnChangeLayer(ChangeEventArgs e)
    {

        img_code = "data:image/png;base64," + Convert.ToBase64String(layers.First(l => l.Id.ToString() == e.Value.ToString()).LayerFile);
        Height = layers.First(l => l.Id.ToString() == e.Value.ToString()).Height;
        Width = layers.First(l => l.Id.ToString() == e.Value.ToString()).Width;
        //Debug.WriteLine(img_code);
        id_layer = e.Value.ToString();
        await LocalStore.SetItemAsync("Layer", e.Value.ToString());
    }


    async Task OnMoveSVG(MouseEventArgs e)
    {
        int[] pt = await JsRuntime.InvokeAsync<int[]>("GetRelativePos", svgMain, e);

        x = pt[0];
        y = pt[1];
    }

    async Task OnClick()
    {
        area = await Http.GetJsonAsync<AreaRect>(ConnectAPI.apiUri + "/api/Areas?id=" + id_layer + "&x=" + x.ToString() + "&y=" + y.ToString());
        if (area != null && area.isRented)
        {
            renter = await Http.GetJsonAsync<RenterRect>(ConnectAPI.apiUri + "/api/Areas/" + area.Id.ToString());
        }
    }



}
