@page "/oareas/{id}"

@using System.Diagnostics
@using RentLibrary
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager


@if (areas == null)
{
    <p><em>Загрузка данных...</em></p>
}
else
{

    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Наименование</th>
                <th>Площадь,  м<sup>2</sup></th>
                <th>Цена за м<sup>2</sup> без НДС, EUR </th>
                <th>Стоимость без НДС, EUR</th>
                <th>Цена за м<sup>2</sup> с НДС, EUR </th>
                <th>Стоимость с НДС, EUR</th>
                <th>Арендуется</th>
                <th>Дополнительно</th>
            </tr>
        </thead>

        <tbody>
            
            @foreach (var area in areas)
            {
            <tr valign="top">
                <td>@area.Id</td>
                <td>@area.AreaName</td>
                <td>@area.Square</td>
                <td>@area.Price</td>
                <td>@Math.Round(area.Price * 1.2, 2)</td>
                <td>@area.Cost</td>
                <td>@Math.Round(area.Cost * 1.2, 2)</td>
                @if (area.isRented)
                {
                    <td>Да</td>
                    <td><button class="btn btn-sm btn-link" @onclick="async () => await OnClick(area.Id)">арендатор</button></td>
                }
                else
                {
                    <td>Нет</td>
                    <td>-</td>
                }

            </tr>
            }

        </tbody>
        <tr>
            <td colspan="2" align="left"><b>Итого</b></td>
            <td><b>@total_area</b></td>
            <td></td>
            <td></td>
            <td><b>@total_sum</b></td>
            <td><b>@Math.Round(total_sum * 1.2, 2)</b></td>
            <td colspan="2"></td>

        </tr>
    </table>
    <hr />
    <h6 style="color:green">Свободные площади: @free_area м<sup>2</sup>.</h6>
    <hr />
    <p>
        <button type="button" class="btn btn-outline-primary btn-link" onclick="window.history.go(-1)">Назад</button>
    </p>

}




@code {

    [Parameter]
    public string id { get; set; }

    private AreaRect[] areas;

    RenterRect renter = null;
    string r_name;
    int r_id;
    float total_area=0;
    float total_sum=0;
    float free_area=0;


    protected override async Task OnInitializedAsync()
    {

        areas = await Http.GetJsonAsync<AreaRect[]>(ConnectAPI.apiUri + "/api/Objects/" + id);

        foreach (var ar in areas)
        {
            total_area += ar.Square;
            total_sum += ar.Cost;
            if (!ar.isRented)
            {
                free_area += ar.Square;
            }
        }
    }


    async Task OnClick(int id)
    {
        Debug.WriteLine(id);
        renter =  await Http.GetJsonAsync<RenterRect>(ConnectAPI.apiUri + "/api/Areas/" + id);
        NavigationManager.NavigateTo("/renterdetails/" + renter.Id);
    }


}
